# Python cache
__pycache__/
*.pyc

# Virtual environments
env/
venv/
.intru/
intrusion_env/

# Output files
*.mp4
*.csv

# YOLO cache
runs/

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
